<div class="containerVainqueur">
    <h1> {{ hero.name }} WINS !</h1>
        <div class="card mb-3" #cardVictory>
                <div class="text-center">
                    <img class="card-img" [src]="hero.picture" alt="Card image">
                </div>
                <div class="card-body">
                    <p class="card-text"> {{ hero.life }} </p>
                    <p class="card-text"> {{ hero.attaqueSpeciale }} </p>
                    <span class=" {{ hero.type | herosTypeColor }} ">
                        {{ hero.type }}
                    </span>
                </div>
        </div>
        <div class="btnContainer">
            <button (click)="goBack()">Retour</button>
        </div>
</div>


<h4 *ngIf='!hero' class="center">Aucun héro à afficher !</h4>



