<div class="containerVainqueur">
    <h1> {{ oppenent.name }} WINS !</h1>
    <div class="card mb-3" #cardVictory>
        <div class="text-center">
            <img class="card-img" [src]="oppenent.picture" alt="Card image">
        </div>
        <div class="card-body">
            <p class="card-text">Points de vie :  {{ oppenent.life }} </p>
            <p class="card-text">Attaque spéciale :  {{ oppenent.attaqueSpeciale }} </p>
            <span class=" {{ oppenent.type | herosTypeColor }} ">
                {{ oppenent.type }}
            </span>
        </div>
    </div>
    <div class="btnContainer">
        <button (click)="goBack()">Retour</button>
    </div>
</div>


<h4 *ngIf='!oppenent' class="center">Aucun héro à afficher !</h4>